body{
	text-align: center;
}

h1, h2, a{
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px; 
}

h1 {
	color: #0D2C40;
	font-weight: 400;
	font-size: 45px;
}

a {
	color: #F15B31;
	font-weight: 600;
	font-size: 18px;
}

h2 {
	color: #0D2C40;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "Droid Serif", serif;
	font-size: 18px;
	line-height: 26px;
}

